<form action="/names" method="post">
    <div>
        <label for="player1">Player 1 name:</label>
        <input type="text" id="player1" name= "player1name"/>
    </div>
    <div>
        <label for="player2">Player 2 name:</label>
        <input type="text" id="player2" name= "player2name" />
    </div>
    <input type= "submit" value= "Submit" />
</form>