<form action="/names" method="post">
    <div>
        <label for="Player1">Player 1 name:</label>
        <input type="text" id="Player1" name= "Player1name"/>
    </div>
    <div>
        <label for="Player2">Player 2 name:</label>
        <input type="text" id="Player2" name= "Player2name" />
    </div>
    <input type= "submit" value= "Submit" />
</form>