<h1>Player 1: <%= @player1 %> vs Player 2: <%= @player2 %> FIGHT! </h1>

<table style="width: 100%">
	<tr>
		<td><img src="./assets/player1.ico" alt="Player 1 Icon"></td>
		<td><img src="./assets/player1.ico" alt="Player 2 Icon"></td>
	</tr>
	<tr>
		<td><%= @player1 %> HP : 100</td>
		<td><%= @player2 %> HP : 100</td>
	</tr>
</table>
